body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center
}

h1 {
    font-size: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 16px;
}